{
  :paths ["src"]

  :deps {
         org.clojure/clojure         {:mvn/version "1.10.3"}
         clojure-interop/java.awt    {:mvn/version "1.0.5"}
         ;;org.openjfx/javafx-graphics {:mvn/version "17-ea+8"}
         cljfx/cljfx                 {:mvn/version "1.7.13"}
         ;;clojure-interop/java.awt {:local/root ""}
         }
 }
